- m = Message.all.map { |m| { text: m.text } }

/= react_component('HelloApp', {messages: m}, {prerender: true})

.container-fluid
  %h1 Welcome
  .row
    .col-md-3
      = react_component('Notebooks')
    .col-md-9
      = react_component('Notes')
      = react_component('NoteForm')
