!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title Title
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolilnks-track' => true
    = csrf_meta_tags
  %body      
    = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
